body{
    background-image: url(/assets/crayon-day-time.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 75px 150px;
}
.box1{
    display: flex;
    justify-content: center;
}

.dayTime{
    height: 250px;
}

.box2{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    grid-column: 2 / 5;
    padding: 10px;
}
.box3{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 15px;
    grid-column: 5 / 9;
    gap: 15px;
}

.search{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}
.stats{
    grid-row: 2 / 5;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.statImg{
    height: 50px;
}

.box4{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    grid-row: 2 / 3;
    grid-column: 1 / 9;
}
.Five-Day-Grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Five-Day-Grid > div{
    display: flex;
    justify-content: center;
}