

body{
    background-image: url(/assets/crayon-day-time.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr auto;
    gap: 25px;
    padding: 75px 150px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayTime{
    height: 300px;
}

.box2{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    grid-column: 2 / 5;
    padding: 10px;
}
.box3{
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 15px;
    grid-column: 5 / 9;
    gap: 20px;
}

.search{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #98d8ea;
    border-radius: 100px;
    align-items: center;
    padding: 0px 10px;
    height: 50px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #98d8ea;
    width: 300px;
    overflow: auto;
    padding: 12px 16px;
    z-index: 1;
  }
.dropdown-content h2 {
    margin: 0px;
    text-decoration: underline;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
  }
.searchBtn{
    height: 25px;
}

.search > div{
    padding: 0px 5px
}

.searchDiv{
    display: relative;
    align-items: center;
}

.searchBar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
    border: none;
}
.show {
    display: block;
}

.star{
    fill: yellow;
}
.stats{
    grid-row: 2 / 7;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 5px;
    text-align: center;
}

.stats > div{
    margin: 0px;
}
.stats > div > h2{
    font-size: 40px;
    text-decoration: underline;
    margin: 0px;
    font-weight: normal;
}

.active{
    font-size: 50px;
}

.inactive{
    font-size: 40px;
    opacity: 50%;
}

.align{
    vertical-align: top;
}
.stats > div > h1{
    margin: 0px;
    font-weight: normal;
}

.statImg{
    height: 40px;
}

.box4{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    grid-row: 2 / 3;
    grid-column: 1 / 9;
    padding: 10px;
}

.box4 > h2 {
    font-size: 50px;
    margin: 5px;
    font-weight: normal;
}

.Five-Day-Grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Five-Day-Grid > div{
    text-align: center;
}

.weatherImg{
    height: 75px;
}