

body{
    background-image: url(/assets/crayon-day-time.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr auto;
    gap: 25px;
    padding: 75px 150px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayTime{
    height: 300px;
}

.box2{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    grid-column: 2 / 5;
    padding: 10px;
}
.box3{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    border-radius: 15px;
    grid-column: 5 / 9;
    gap: 15px;
}

.search{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    align-items: center;
    padding: 0px 20px
}
.searchBtn{
    height: 25px;
}
.search > div{
    padding: 0px 5px
}
.search > div > h2 {
    border-right: solid black;
    border-left: solid black;
    padding: 0px 10px;
}

.star{
    fill: yellow;
}
.stats{
    grid-row: 2 / 7;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.statImg{
    height: 50px;
}

.box4{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    grid-row: 2 / 3;
    grid-column: 1 / 9;
    padding: 10px;
}
.Five-Day-Grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Five-Day-Grid > div{
    text-align: center;
}

.weatherImg{
    height: 75px;
}